.env
.env.*
!.env.example

node_modules/
vendor/
dist/
build/

storage/*.key
database/*.sqlite

*.sqlite
*.sqlite-shm
*.sqlite-wal

*.log
.DS_Store
Thumbs.db

/api/storage/logs/*.log
/api/bootstrap/cache/*.php
/api/public/hot
/api/public/storage

/web/dist/

work/
outputs/
